* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #333;
  color: aliceblue;
}

.import {
  max-width: 10vw;
  margin: 0.5em;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.image-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style-type: none;
}

.image-item {
  margin: 0.5em;
}

.form-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.5em;
  margin-right: 5vw;
  max-width: 30vw;
}

.form-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.5em;
}

.form-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-top: 0.5em;
}

.button {
  border: 1px solid #0171f1;
  border-radius: 3px;
  cursor: default;
  color: #0171f1;
  height: 2.2em;
  width: 10vw;
  padding-top: 0.8vh;
}

.button-input {
  opacity: 1;
  size: 5vh;
}

.button-submit {
  border: 1px solid #00bd48;
  border-radius: 3px;
  color: 1px solid #00bd48;
  background-color: #333;
  color: #00bd48;
  height: 1.8em;
  width: 7vw;
  margin: 0.5em;
}

.button-print {
  border: 1px solid #0171f1;
  border-radius: 3px;
  color: 1px solid #0171f1;
  background-color: #333;
  color: #0171f1;
  height: 1.8em;
  width: 7vw;
  margin: 0.5em;
}

.button-digital {
  border: 1px solid #00bd48;
  border-radius: 3px;
  color: 1px solid #00bd48;
  background-color: #333;
  color: #00bd48;
  height: 1.8em;
  width: 7vw;
  margin: 0.5em;
}
/*# sourceMappingURL=style.css.map */